/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#conti1{
  width:1200px;
  margin:5px auto;
  padding:2px 2px;
  background: #E1BFF2;
  box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  -moz-box-shadow: 0px 1px 3px black;

}

#avatar{
  width: 40px;
  height: 40px;
  float: left;  
  background: #E1BFF2;
  border-radius: 20px;
  margin-bottom: 0px;
  margin-left: 8px;

}

#poz_nav{
  margin: 8px 5px 0 5px;
}
.emb_nav{
  float: left;  
  width: 45px;
  margin-left: 0px;
}
.mylink {
  height: 25px;
  width: 25px;
}

#av{
  float: left;
  height:74px;
  width: 100px;
  margin: 15px 0 0px 15px;
}
/*Обнуляем отступы*/
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;   
}
 
/*Задаём параметры блока, содержащего основное меню*/
#menu {
    display:block;
    position:absolute;
    margin: 0px 0px;
    /*top:100px;
    left:50px;*/
         
}
 
/*Задаём стили для разделов нашего меню*/
#menu > li {
    display:inline-block;
    height:20px;
    font-size: 16px;
    position:relative;
}
 
/*Стили для скрытого выпадающего меню*/
#menu > li > ul {
    position:absolute;
    top:20px;
    font-size: 17px;
    display:none;   
}
 
/*Делаем скрытую часть видимой*/
#menu > li:hover > ul {
    display:block;  
}

#maseg{
  top: -55px; /* Сдвигаем текст вверх */
  left: 20px;
  float: left; 
  width: 20px;
  height: 18px;
  padding-top: 2px; 
  font-size:12px;
  color: white;
  background: #f27e4b;
  border-radius: 5px;
  position: relative;
  

}

.body {

  .button {
    color: red;
  }
}

.navbar {
  .button {
    color: blue;
  }
}

.container{
  width:1200px;
  height: 74px;
  margin:0px auto;
  padding:0px 5px;
}

.row{
  margin: 1px auto;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  height: 30px;
  line-height: 15px;
  padding: 12px; 
  padding-left: 0px;
  color: #808080;

}

.emblema{
  float: left;
  margin: 22px auto;
  margin-bottom: 15px
}

.nav1{
  padding: 26px 0;
  height: 22px;
  float: left;
  border-right: 1px solid #D5CBC8;
}


.navig{
  float: left;
  height: 74px;
  margin-left: 119px;
  width: 385px;
    
}

.nav_bar{
  width: 80px;  
  font-size: 17px;
  margin: 0 23px;
  }

.acuser{
  a:hover {
    color: #333333;
    text-decoration: underline;
    background-color: white;
  }

  a:link { 
    color: #333333;
    text-decoration: none;
  }


}

.acuser{
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  width: 300px;
  float: right;
  padding: 16px 0px; 
  margin: 0px auto;
  
}

#cont_p{
  width:1200px;
  margin:16px auto;
  font-size:10px;
  color: #530EC8;
  border-bottom: 3px solid #F4B39B;
  height: 35px;
  margin-top: 25px;  
}

b {
  font-size:13px;
  color: #9c9a9b;
}

.navig{
  a:link { 
    color: #333333;
    text-decoration: none;
  }
  a:visited { 
    color: #9c9a9b;
    
  }
  a:hover {

    color: white;
    text-decoration: underline;
    background-color: rgba(84, 123, 221, 0.57);
  }
  a:active { 
    color: #333333;
  }
}

#cont1{
  width:1200px;
  height:448px;
  margin:5px auto;
  font-size:10px;
  color: #530EC8;
  background: white;
  box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  -moz-box-shadow: 0px 1px 3px black;
}


#ramka{
  border: solid 1px  #F4B39B;
}



#cont2{
  width:663px;
  height:784px;
  float: left;
  box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  -moz-box-shadow: 0px 1px 3px black;
}


#cont3{
  width:518px;
  height:784px;
  color: red;
  background: #8EC0F6;
  float: right;
  box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  -moz-box-shadow: 0px 1px 3px black;
}
#cont4{
  width:663px;
  height:176px;
  margin:10px auto;
  float: left;
  box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  -moz-box-shadow: 0px 1px 3px black;
}

#cont23{
  width:1203px;
  margin:15px auto;
  
}

.b3radius{
	border-radius: 10px;
}

.filter{
  width: 668px;
  height: 69px;
  margin: 5px auto;
  float: left;
}

.navbar{
	height: 74px;
  margin-top: 5px;
	position: relative;
	background-color: #ffffff;
  border-color: #e7e7e7;

}

body {
  background-color: #E1E2DF;
}

.left {
	float: left;
}
.center{
	float: center;
}
.right{
	float: left;
}